.navbar-brand img {
  width: 198px;
}
.nav-btn {
  border-radius: 25px;
  padding: 7px 26px;
}
.navbar-toggler {
  position: relative;
  bottom: 47px;
}
.text-aline {
  text-align: center;
}
.carosel-img {
  width: 100%;
}
p {
  color: gray;
}
.span-orange {
  color: #fd511a;
  padding-bottom: 20px;
  position: relative;
  bottom: 70px;
}
.span-green {
  color: #21b573;
}
h1 {
  color: #000000;
  font-weight: 900;
}
.container {
  padding-bottom: 50px;
}
.row .span-orange {
  padding-bottom: 10px;
  position: relative;
  bottom: 70px;
}
.background-color {
  background-color: #f0fff0;
}
.img-size {
  width: 70px;
  margin: auto;
  padding-top: 35px;
}
.card {
  border: none;
}
.card1 {
  text-align: center;
}
.card h5 {
  color: #413960;
}
.card1 p {
  padding-bottom: 24px;
}
.cards {
  margin-bottom: 50px;
}
.card-footer {
  background-color: white;
  border-top: none;
}
.cources {
  width: 15px;
}
h2 {
  text-align: center;
  padding-bottom: 60px;
  color: #413960;
}
.img-p {
  padding: 10px;
}
.testmo {
  width: 112px;
  margin-left: 235px;
}
.testimonial p {
  color: black;
  font-weight: 700;
}
footer {
  background-color: #282531;
  color: white;
}
.footer {
  padding: 80px 0px;
  cursor: pointer;
}
.footer li {
  list-style: none;
  padding: 0;
}
.footer ul {
  padding: 0;
}
.footer .col-md-3 {
  margin: 0 32px;
}
footer small {
  text-align: center;
}
